body {
  background-color: #fff;
  color: #000;
  margin: auto;
  padding: 2em;
  max-width: 70ch;
  font: medium/1.62 sans-serif;
  overflow-x: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.0em;
}

h4, h5, h6 {
  font-size: 0.9em;
}

a {
  color: #005386; /*from suckless.org*/
}

code, pre, kbd, samp {
  font-family: monospace;
}

pre {
  padding: 20px;
  max-width: 100%;
  overflow: auto;
}

nav a {
  margin-right: 10px;
}

img {
  max-width: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #bdbdbd;
  }
  a {
    color: #56c8ff;
  }
  #title {
    color: #bdbdbd;
  }
}

