{{ define "header" }}
<header>
  <nav>
    <a href="/">&larr; index</a>
  </nav>
</header>
{{ end }}

{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}
<p>
  Author: {{ .Site.Params.author }}
  <br>
  Published: <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02" }}</time>
  <br>
  Last Updated: <time datetime="{{ .Date.Format `2006-01-02T15:04:05Z07:00` }}">{{ .Lastmod | time.Format "2006-01-02" }}</time> | <a href="https://github.com/donihalim/site/commits/main/content/{{ .File.Path }}">History</a>
</p>
<!--<p>-->
<!--  <a href='mailto:{{ .Site.Params.email }}?subject=RE: {{ default $.Site.Title $.Page.Title }}'>Discuss via email</a>-->
<!--</p>-->
{{ end }}

{{ define "footer" }}
<footer>
 <a href="/">&larr; index</a> 
</footer>
{{ end }}
